.calendar-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  max-width: 1100px;
  margin: 0 auto;
}

.grid-headers {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.grid-header {
  border-right: 1px solid #ccc;
  flex: 1;
  padding: 8px;
  text-align: center;
}

.grid-body {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
}

.grid-cell {
  flex: 1;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 13px;
  text-align: center;
  position: relative;
}

.border-line {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
