@import url("https://fonts.googleapis.com/css2?family=Ciutadella:wght@300;400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-ciutadella: Ciutadella;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-2xs: 11px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  /* Colors */
  --main-colors-white: #fff;
  --color-darkslateblue-100: #22356d;
  --color-darkslateblue-200: rgba(34, 53, 109, 0.7);
  --color-darkslateblue-300: rgba(34, 53, 109, 0.07);
  --color-darkslateblue-400: rgba(34, 53, 109, 0.15);
  --color-red-100: rgba(255, 0, 0, 0.75);
  --color-lavender: rgba(235, 236, 253, 0.6);
  --color-cornflowerblue: #7e93ff;

  /* Gaps */
  --gap-8xs: 5px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-11xs: 2px;
  --padding-6xs: 7px;
  --padding-8xs: 5px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-6xs: 7px;
  --br-11xs: 2px;
}
